body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Noto Sans', sans-serif;
  color: #3d4559;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cvs{
  display: flex;
  justify-content: space-around;
}

.uploadButton{
  cursor: pointer;
  border: none;
  font-size: 12px;
  position: relative;
}

.downloadCSV{
  height: 2em;
  width: 8em;
  background-color: #2864d5;
  color: #E0ECFA;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;

}

.CSV-Link{
  color: white;
  text-decoration: none;
  font-size: 10px;
}

.main-text {
  left: 10px;
  display: flex;
  font-size: 15px;
}


.excel-parser{
  height: 2em;
  width: 8em;
  border: 1px solid #2864d5;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  color: #2864d5;
  align-items: center;
}

.container{
  display: flex;
  padding-left: 20px;
  border: 1px solid #f1f1f1;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 300px
}